@using Microsoft.AspNetCore.Http
@using Microsoft.AspNetCore.Mvc.Razor.Extensions

@{
    ViewData["Title"] = "Login Failed";
}

<!DOCTYPE html>
<html>
<head>
    <title>Login Failed</title>
    <style>
        .container {
            text-align: center;
            margin-top: 200px;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1>Login Failed</h1>
        <p>The username or password you entered is incorrect. Please try again.</p>
        <button class="btn btn-outline-secondary btn-lg px-5" onclick="window.location.href='/'">Back to Login</button>
        
    </div>
</body>
<body >
</body>
</html>
