@{
    ViewData["Title"] = "Reset Password";
}
@model Employee

<h1>Reset Password</h1>

<form method="post" asp-controller="Home" asp-action="ResetPassword">
    <div>
        <label asp-for="UserName">Username</label>
        <input type="text" asp-for="UserName" class="form-control form-control-lg" />
    </div>
    <div>
        <label asp-for="UserPassword">Password</label>
        <input type="password" asp-for="UserPassword" class="form-control form-control-lg" />
    </div>
    <div>
        <label asp-for="ConfirmPassword">Confirm Password:</label>
        <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
    </div>
    <button type="submit">Save Changes</button>
    <body style="background-color: aliceblue;">
    </body>
</form>
